.header1 {
  background-color: pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300vh;
}

.qu{
  margin-right: 200px;

}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

#input{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#mail{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;

}

#pass{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;

}

#confirm{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;

}

#button1 {
  background-color: yellowgreen;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 50px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s; 
}

#button1:hover {
  background-color: brown;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
